{% load pybb_tags %}
<div class="avatar">
    {% pybb_get_profile user=user as user_profile %}
    <a href="{{ user_profile.get_absolute_url }}">
        {% if user_profile.avatar %}
            {% if 'sorl.thumbnail'|check_app_installed %}
                {% include 'pybb/_sorl_thumbnail_avatar.html' %}
            {% elif 'easy_thumbnails'|check_app_installed %}
                {% include 'pybb/_easy_thumbnail_avatar.html' %}
            {% else %}
                <img style="max-width:80px !important;" src="{{ user_profile.avatar.url }}" alt="{{ user_profile.get_display_name }} avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
            {% endif %}
        {% else %}
            <img style="max-width:80px !important;" src="https://image.ibb.co/jmOku7/Screen_Shot_2018_04_13_at_12_13_41_PM.png" alt="default avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
        {% endif %}
    </a>
</div>
