{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{{ forum.name }}{% endblock title %}


{% block content %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">



        <div class="py-5">
        <div class="">


     <div class="medium-24 column" style="padding: 0">


        <h2 class="setting-header" style="color: #222; cursor: auto; font-style: normal; line-height: 1;font-size: 24px; font-weight: lighter;">{{ forum.name }} - Home
       <a href="{% url 'pybb:add_topic' forum.id %}" class="add-button" style="background-color: #167ED8; right: 0"><span class="icon-plus" style="display: flex;justify-content: center;align-items: center;font-size: 20px;margin-left: 1px;"></span></a>
        </h2>
        </div>
        {% if forum.headline %}
            <div class="forum-headline alert alert-block">
                {{ forum.headline|safe }}
            </div>
        {% endif %}

        {% include "pybb/pagination.html" %}

        {% include 'pybb/forum_list.html' with forum_list=forum.forums_accessed category='' parent_forum=forum %}

        {% include "pybb/topic_list.html" %}

        {% include "pybb/pagination.html" %}

        <div class="controls">
            {% if user|pybb_may_create_topic:forum %}
                {% include "pybb/_button_new_topic.html" %}
            {% endif %}
            {% include "pybb/_button_forum_subscription.html" %}
        </div>
    </div>

        </div>


{% endblock content %}

{% block breadcrumb %}
    {% with forum as object %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}
